.claims
  &__list
    display: inline-block
    width: 100%

  &-wrapper
    @extend %full-width

  &-content
    @extend %margin-width
    +clearfix

.claim-card
  float: left
  width: 100%
  margin: 5px
  